div video {
    position: fixed;
    justify-content: center;
    align-content: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
}

video#bgvid {
    position: fixed;
    z-index: -1;
    background: url(../images/sample.jpg) no-repeat;
    background-size: cover;
}

video {
    display: block;
}

p {
    text-align: center;
}