.multi_column {
    width: 100%;
    margin: 0px auto;
    column-count: 4;
    column-rule: 2px solid #000;
}

.multi_column>div {
    margin-bottom: 20px;
    padding: 16px;
    border: #000 1px solid;
}

.multi_column>div:nth-child(2n+0) {
    background: #CAE4FF;
}

.multi_column>div:nth-child(2n+1) {
    background: #A4D1FF;
}